streamlit
pysqlite3-binary
pydrive2
langchain
langchain-community
langchain-core
PyMuPDF
chromadb
pandas
plotly
sentence-transformers
langchain-text-splitters
beautifulsoup4
duckduckgo-search
requests
torch
langsmith
